* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 1rem;
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: #67ccff;
}

::-webkit-slider-thumb {
    background: #194eb9;
    border-radius: 5rem;
}

body {
    font-family: 'Ranade', sans-serif;
    background: #1d002c;
    color: #fff;
    overflow-x: hidden;
}



/* ********************* */
/* Snow Flakes  */
/* ********************* */

.snowflake, .emoji {
    position: absolute;
    pointer-events: none;
    z-index: 2000;
}

.snowflake {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.emoji {
    font-size: 16px;
}

/* ********************* */
/* Header Section  */
/* ********************* */
header {
    padding: 25px 10%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
}

header .logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Telma'; */
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    cursor: pointer;
    color: #12f7ff;
    text-decoration: none;
}

header .logo span {
    color: #fff;
}

header .logo #fox {
    color: hotpink;
}

ul.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    text-decoration: none;
}
/* ********************* */
/* Buttons styles  */
/* ********************* */
.btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: .6rem .8rem;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.btn-clear-blue {
    box-shadow: 0 0 10px #12f7ff;
    background: #12f7ff;
    color: #1d002c;
    transition: all 0.3s ease;
    border: solid 2px #12f7ff;
}
.btn-clear-hotpink {
    box-shadow: 0 0 10px #ff69b4;
    background: #ff69b4;
    color: #1d002c;
    transition: all 0.3s ease;
    border: solid 2px #ff69b4;
}

.btn-hover-blue {
    border: solid 2px #12f7ff;
}

.btn-hover-hotpink {
    border: solid 2px #ff69b4;
}

#pink-border {
    border: solid 2px #ff69b4;
}

#pink-border:hover {
    box-shadow: 0 0 10px #ff69b4;
}

#blue-border {
    border: solid 2px #12f7ff;
}
#blue-border:hover {
    box-shadow: 0 0 10px #12f7ff;
}

.btn-clear-blue:hover {
    box-shadow: 0 0 10px #12f7ff;
    background: #1d002c;
    color: #12f7ff;
}
.btn-clear-hotpink:hover {
    box-shadow: 0 0 10px #ff69b4;
    background: #1d002c;
    color: #ff69b4;
}

.btn-hover-blue:hover,
.active {
    box-shadow: 0 0 10px #12f7ff;
    background: #12f7ff;
    color: #1d002c;
}

.btn-hover-hotpink:hover {
    box-shadow: 0 0 10px #ff69b4;
    background: #ff69b4;
    color: #1d002c;
}

/* **************************** */
/* Images styles */
/* **************************** */
.img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
} 




section {
    min-height: 100dvh;
}
/* ****************************** */
/* Home Section  */
/* ****************************** */
.parallax-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.parallax-home img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
}

.parallax-home #text {
    position: absolute;
    font-size: 3.8rem;
    font-weight: 700;
    text-shadow: 0 10px 4px rgba(0, 0, 0, 0.85);
    top: 85.8%;
    left: 3%;
}

.parallax-home img#moon {
    z-index: ;
}

.parallax-home img#moon,
.about img#desert-moon {
    mix-blend-mode: screen;
}
/* ****************************** */
/* About Section  */
/* ****************************** */
.about {
    position: relative;
}

.about img {
    position: absolute;
    z-index: 1000;
}

.about img.about-waterfall {
    position: absolute;
    top: -95px;
}

.about .info-box {
    position: absolute;
    top: 0.5%;
    left: 10%;
    width: 50%;
    background: #1d002c;
    z-index: 1003;
}

.about .info-box h2 {
    font-size: 2.5rem;
}

.about .info-box p {
    font-size: 1.5rem;
    margin: 1rem 0;
}
/* ****************************** */
/* Products Section  */
/* ****************************** */
.products {
    background: #121137;
    padding: 3rem 10%;
}

.products h2 {
    font-size: 2.5rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
    margin-bottom: 8rem;
}

.product-card  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 25px;
    display: block;
    z-index: 999;
    text-align: center;
    transition: all 0.4s ease;
    background-image: url('../image/products/night-santa-sleigh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.card .magic-text {
    font-size: 7rem;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: -4rem;
    filter: drop-shadow(0 0 0.5rem #1797ff);
}

.card .no-change {
    filter: drop-shadow(0 0 0.5rem hotpink);
}

.card .price-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    padding-bottom: .5rem;
}

.info p {
    padding: .5rem 0 1.5rem 0;
    visibility: hidden;
}

.info .btn {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.price-name span {
    color: #04cf37;
    font-size: 1.5rem;
    font-weight: 500;
}

#progress {
    display: none;
    place-items: center;
    position: fixed;
    cursor: pointer;
    bottom: 60px;
    right: 10px;
    height: 50px;
    width: 50px;
    color: #12f7ff;
    background: #ff69b4;
    border-radius: 50%;
    z-index: 1000;
}

#progress-value {
    display: grid;
    place-items: center;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background: #1d002c;
    border-radius: 50%;
    font-size: 30px;
}

/* **************************** */
/* **************************** */

.sleigh {
    background-image: url('../image/products/santa-on-sleigh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}